@media only screen and (max-width: 900px) {
  .footer-Container {
    text-align: justity;
  }
  .social-icon {
    justify-content: center;
  }
  .contact-list ul li {
    justify-content: justify;
  }
}
.footer-Container {
  width: 100%;
  margin-top: 3rem;
}

.middle-left {
  flex: 1;
}
.middle-left ul li {
  list-style-type: none;
  line-height: 24px;
  font-size: 16px;
}
.middle-right ul li {
  list-style-type: none;
  line-height: 24px;
  font-size: 16px;
}
.middle-right {
  flex: 1;
}
.middle-side {
  display: flex;
}
.contact-list ul li {
  list-style-type: none;
  font-size: 16px;
  display: flex;
  line-height: 35px;
  align-items: center;
}
.left-title h1,
.middle-title h1,
.right-title h1 {
  color: coral;
  margin-bottom: 1rem;
}
.left-description {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.social-icon {
  display: flex;
}
